<header>
    <!-- Mobile Menu Start -->
    <div class="mobile-menu-area navbar-fixed-top hidden-sm hidden-md hidden-lg">
        <nav class="mobile-menu" id="mobile-menu">
            <div class="sidebar-nav">
                <ul class="nav side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                    <button class="btn mobile-menu-btn" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Noticias</a></li>
                    <li><a href="#">Mundial de Motocross</a></li>
                    <li><a href="#">Ama Motocross</a></li>
                    <li><a href="#">Ama Supercross</a></li>
                    <li><a href="#">Brasileiro de Motocross</a></li>
                    <li><a href="#">Arena Cross</a></li>
                    <!-- social icon -->
                    <li>
                      <div class="social">
                        <ul>
                          <li><a href="https://www.facebook.com/grassiricardo/" class="facebook"><i class="fa  fa-facebook"></i> </a></li>
                        </ul>
                      </div>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="top_header_icon">
              <span class="top_header_icon_wrap">
                <a target="_blank" href="https://www.facebook.com/grassiricardo/" title="Facebook"><i class="fa fa-facebook"></i></a>
              </span>
            </div>
            <div id="showLeft" class="nav-icon">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- Mobile Menu End -->
    <!-- top header -->
    <div class="top_header hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div class="top_header_menu_wrap">
                        <ul class="top-header-menu">
                          <li><a href="contact-style-two.html">CONTATO</a></li>
                        </ul>
                    </div>
                </div>
                <!--breaking news-->
                <div class="col-sm-8 col-md-7">
                  <div class="newsticker-inner">
                    <ul class="newsticker">
                      <%@news_loader.each do |new_loader| %>
                        <li>
                          <span class="color-1">Ultimas Noticias</span>
                          <a>
                            <%=link_to new_loader.title, pages_details_path(id: new_loader.id), method: :get%>
                          </a>
                        </li>
                      <%end%>
                    </ul>
                  </div>
                </div>
                <div class="col-sm-12 col-md-2">
                  <div class="top_header_icon">
                    <span class="top_header_icon_wrap">
                      <a target="_blank" href="https://www.facebook.com/grassiricardo/" title="Facebook"><i class="fa fa-facebook"></i></a>
                    </span>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top_banner_wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4 col-sm-4">
                    <div class="header-logo">
                        <!-- logo -->
                        <a>
                          <%=link_to image_tag('logo.png', class: 'td-retina img-responsive'), root_path, method: :get%>
                        </a>
                    </div>
                </div>
                <div class="col-xs-8 col-md-8 col-sm-8 hidden-xs">
                    <div class="header-banner">
                        <a>
                          <%=link_to image_tag('top-bannner.jpg', class: 'td-retina img-responsive'), root_path, method: :get%>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- navber -->
    <div class="container hidden-xs">
        <nav class="navbar">
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/" class="category01">HOME</a></li>
                  <li class="active"><a href="home-style-one.html" class="category01">NOTICIAS</a></li>
                  <li class="active"><a href="home-style-one.html" class="category01">MUNDIAL MOTOCROSS</a></li>
                  <li class="active"><a href="home-style-one.html" class="category01">AMA MOTOCROSS</a></li>
                  <li class="active"><a href="home-style-one.html" class="category01">AMA SUPERCROSS</a></li>
                  <li class="active"><a href="home-style-one.html" class="category01">BRASILEIRO DE MOTOCROSS</a></li>
                  <li class="active"><a href="home-style-one.html" class="category01">ARENA CROSS</a></li>
                </ul>
            </div>
            <!-- navbar-collapse -->
        </nav>
    </div>
</header>
